@media (min-width: 576px){
    .flex-container-bot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20vw;
      }
      
      .flex-container-bot>div {
        width: 100%;
        height: 15vw;
      }
}

@media (max-width: 576px){
    .flex-container-bot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vw;
      }
      
      .flex-container-bot>div {
        width: 100%;
        height: 30vw;
      }
}

.center {
    text-align: center;
}

.center > p {
    font-size: 0.8rem;
}