.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.max-height {
    height: 4em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container>div {
    width: 60%;
    height: 60%;
}

.flex-container-curr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container-curr>div {
    width: 60%;
    height: 60%;
}

.font-sm {
    font-size: small;
}

.flex-container-con {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.flex-container-con>div {
    height: 60%;
}

.img-user {
    display: block;
    height: 100%;
    margin: auto;
}

.dropdown-menu-con {
    font-size: small !important;
}

.dropdown-menu-con>.dropdown-item:focus,
.dropdown-item:hover {
    background-color: unset;
    cursor: unset;
}

@media only screen and (min-width: 1000px) {
    .dropdown-menu-con {
        width: 25vw;
        transform: translate3d(-50%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .dropdown-menu-con {
        width: 30vw;
        transform: translate3d(-55%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .dropdown-menu-con {
        width: 40vw;
        transform: translate3d(-60%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .dropdown-menu-con {
        width: 40vw;
        transform: translate3d(-10%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .dropdown-menu-con {
        width: 55vw;
        transform: translate3d(-30%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .dropdown-menu-con {
        width: 75vw;
        transform: translate3d(-50%, 8%, 0px) !important;
    }
}

@media only screen and (max-width: 350px) {
    .dropdown-menu-con {
        width: 90vw;
        transform: translate3d(-60%, 8%, 0px) !important;
    }
}

@media only screen and (min-width: 768px) {
    .fl-right {
        float: right;
    }
    .dropdown-menu-curr {
        transform: translate3d(-50%, 13%, 0px) !important;
    }
    /* .dropdown-menu-con {
        transform: translate3d(-50%, 5%, 0px) !important;
    }     */
    .dropdown-item-usr {
        color: #000000 !important;
        padding-left: 1em !important;
        padding-right: 3em !important;
    }
}

@media only screen and (max-width: 767px) {
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .dropdown-menu-curr {
        transform: translate3d(-20%, 15%, 0px) !important;
    }
    /* .dropdown-menu-con {
        transform: translate3d(-50%, 14%, 0px) !important;
    }  */
    .dropdown-item-usr {
        color: #000000 !important;
        padding-left: .5em !important;
        padding-right: 1em !important;
    }
}

.dot-line {
    border-bottom: 1px dotted #ccc !important;
}

.icon-login-regist {
    color: #fc7700;
    margin-right: 1em;
}

.no-padding {
    padding: 0 !important;
}

span.dropdown-toggle {
    font-weight: bold;
    vertical-align: -webkit-baseline-middle !important;
}

.num-contact {
    font-weight: bold;
    font-size: 20px;
}

.mar-top {
    margin-top: .5rem;
    margin-bottom: 0rem;
}

.mar-bot {
    margin-bottom: .5rem;
    margin-bottom: 0rem;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}