.banner {
    margin: 2vw 0vw 2vw 0vw;
    padding: 2vw 10vw 2vw 10vw;
    background: lightblue url("/images/home/banner-why.jpg") no-repeat fixed center;
}

.why-area {
    width: 80%;
    float: right;
}

.p-title {
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 2px dashed;
}

.p-des {
    margin-bottom: 0;
    color: white;
}

.title-margin {
    margin: 4vw;
}

.margin-bot {
    margin-bottom: 2vw;
}