.context-text-cl {
    padding: 1vw;
    text-align: left;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
}

.no-margin-left {
    margin-left: unset !important;
}

.no-margin-right {
    margin-right: unset !important;
}

.no-margin-bot {
    margin-bottom: unset !important;
}

.img-hover-zoom-cl img {
    transition: transform .5s ease;
}

.img-hover-zoom-cl:hover img {
    transform: scale(1.5);
}


/* 
.hover-red {
    color: red !important;
    font-weight: bold
} */

.img-hover-zoom-cl:hover~span {
    color: red !important;
    font-weight: bold
}

.box-chau-luc {
    border: 1px solid #303030;
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 15vw;
        margin: 0.5vw;
        height: 12vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 12vw;
    }
    .img-hover-zoom-cl {
        height: 12vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 15vw;
        margin: 1vw;
        height: 12vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 12vw;
    }
    .img-hover-zoom-cl {
        height: 12vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 25vw;
        margin: 2vw;
        height: 20vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 20vw;
    }
    .img-hover-zoom-cl {
        height: 20vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 25vw;
        margin: 2vw;
        height: 20vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 20vw;
    }
    .img-hover-zoom-cl {
        height: 20vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 40vw;
        margin: 2vw;
        height: 30vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 30vw;
    }
    .img-hover-zoom-cl {
        height: 30vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 100vw;
        margin: 2vw;
        height: 80vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 80vw;
    }
    .img-hover-zoom-cl {
        height: 80vw;
        overflow: hidden;
    }
}

@media only screen and (max-width: 350px) {
    .flex-chau-luc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-chau-luc>div {
        width: 100vw;
        margin: 2vw;
        height: 80vw;
    }
    .img-chau-luc {
        width: 100%;
        height: 80vw;
    }
    .img-hover-zoom-cl {
        height: 80vw;
        overflow: hidden;
    }
}