.mar-top-title {
    margin-top: 2rem
}

.float-r {
    text-align: center
}

a:not([href]):not([tabindex]) {
    color: unset !important;
    text-decoration: none !important;
}

.p8 a,
.square-i .is-active {
    background-color: #fc3400 !important;
    color: #f1f1f1 !important;
}

.square-i a {
    border: 1px solid #ddd !important;
    margin: 0px !important;
    color: #2ecc71 !important;
    font-weight: 700 !important;
}

.pagination a {
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px !important;
}