.form-date {
    width: 70%;
    height: auto;
    background-color: #fc3400;
    margin: auto;
    text-align: center;
    color: white;
}

.p-date {
    margin-bottom: unset !important;
}

.p-date-st {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px dashed white;
}

.title-tour {
    font-weight: bold;
    font-size: 1rem;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pos-relative {
    position: relative;
}

.badge-promo {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    max-height: 60px;
    z-index: 1;
    padding: 13px 10px 8px 10px;
    border-radius: 2px 2px 0 0;
    color: #fff;
    text-align: left;
}

.badge-promo:after {
    background: rgba(13, 73, 161, 1);
    transform: rotate(4deg);
    transform-origin: top left;
    height: 100%;
    width: 110%;
}

.badge-promo:before,
.badge-promo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.badge-promo:before {
    background: rgba(0, 93, 175, 1);
    height: 100%;
    width: 110%;
    transform-origin: top right;
    transform: rotate(-3deg);
}

.badge-promo-content {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.badge-promo-content i {
    color: #ffb900;
}

.img-res {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-fit {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.mar-top {
    margin-top: 10px;
}

.font-small {
    font-size: 0.8rem !important;
}

.no-padding {
    padding-left: unset !important;
    padding-right: unset !important;
}

.price-label {
    color: #fc3400;
}

@media only screen and (min-width: 768px) {
    .item-container {
        flex-direction: column;
    }
    .item-container>div {
        background-color: #f1f1f1;
        height: 30px;
    }
}