.footer-text-margin {
    margin-bottom: auto;
    font-size: 0.8rem;
}

.line-dot {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.margin-right-1vw {
    margin-right: 1vw;
    font-size: x-small;
}

.flex-container-pay {
    display: flex;
}

.flex-container-pay>div {
    background-color: #f1f1f1;
    margin: 1vw;
    width: 15%;
    height: auto;
}

.img-top-footer {
    width: 100%;
    height: auto;
}

.img-top-footer-si {
    width: 60%;
    height: auto;
}

.img-top-footer-logo {
    height: auto;
    margin-top: 1vw
}

.no-margin-left {
    margin-left: 0 !important;
}

.input-text {
    padding: 0.5vw;
    font-size: 0.8rem;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.input-button {
    float: left;
    width: 20%;
    padding: 0.5vw;
    background: #595959;
    color: white;
    font-size: 0.8rem;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.footer-btn-border {
    border: 1px solid grey !important;
}

.flex-container-pay-code {
    display: flex;
}

.flex-container-pay-code>div {
    background-color: #f1f1f1;
    margin: 1vw;
    height: auto;
}

.text-format {
    text-align: center;
    font-size: 0.8rem;
}

.wrapper-footer.row {
    margin-right: unset !important;
}

.wrapper-footer {
    padding-right: unset !important;
}

@media (min-width: 576px) {
    .display-row {
        display: inherit;
    }
}

@media (max-width: 576px) {
    .display-row {
        display: contents;
    }
}