.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wrapper-header {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1500px;
    /* 2 */
    padding-right: 20px;
    /* 3 */
    padding-left: 20px;
    /* 3 */
}

.wrapper-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 2vw 0vw 2vw 0vw;
}