.img-tt {
    width: 100%;
    height: 100%;
    display: block
}

.title-tt {
    font-size: 1.5rem;
    border-bottom: 1px solid #303030;
}

.unset-left {
    padding-left: unset !important;
    padding-right: unset !important;
}

.font-italic {
    font-style: italic;
    text-align: justify;
    font-size: 0.8rem
}

.padding-link {
    padding: 15px !important;
    font-size: 0.7rem !important;
}

.vote-title {
    line-height: 2rem;
}

.no-row {
    margin-left: unset !important;
    margin-right: unset !important;
}

.react-rater-star.is-active {
    color: rgb(255, 204, 102) !important;
}

.react-rater-star.is-active-half:before {
    color: rgb(255, 204, 102) !important;
}

.react-rater-star.will-be-active {
    color: rgb(255, 221, 153) !important;
}

.react-rater {
    font-size: 20px !important;
}