.hight-light-text-1 {
    color: #015196;
    font-weight: bold;
}

.hight-light-text-2 {
    color: #f0433a;
    font-weight: bold;
}

.hight-light-text-3 {
    color: #f2a30f;
    font-weight: bold;
}

.hight-light-text-4 {
    color: #008c72;
    font-weight: bold;
}

.search-btn-1 {
    background-color: #015196 !important;
    font-weight: bold !important;
    color: white !important;
}

.search-btn-2 {
    background-color: #f0433a !important;
    font-weight: bold !important;
    color: white !important;
}

.search-btn-4 {
    background-color: #008c72 !important;
    font-weight: bold !important;
    color: white !important;
}

.box-trong-nuoc:hover {
    border: 1px solid #015196;
}

.box-nuoc-ngoai:hover {
    border: 1px solid #f0433a;
}

.box-tu-chon:hover {
    border: 1px solid #f2a30f;
}

.box-booking:hover {
    border: 1px solid #008c72;
}

.drd-search>div {
    /* background-color: unset !important; */
    border-color: unset !important;
    color: hsl(0, 0%, 50%) !important;
    font-size: small !important;
    border: unset !important;
    border-bottom: 1px dashed hsl(0, 0%, 50%) !important;
    padding-left: 0px !important;
    text-align: left !important;
}

.input-button {
    border: unset !important
}

.search-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.date-picker>div>div {
    border: unset !important;
    border-bottom: 1px dashed hsl(0, 0%, 50%) !important;
}

.date-picker {
    margin-top: 2px;
}

.drd-search>div>div {
    padding: unset !important;
}

.css-1okebmr-indicatorSeparator {
    display: none !important;
}

.caret {
    float: left;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.no-margin {
    margin-left: unset !important;
    margin-right: unset !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.search-bar {
    width: 100% !important;
    padding: 2vw !important;
}

@media only screen and (min-width: 1000px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        margin-top: -6vw;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 10vw;
        height: 11vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 1vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 4vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 1vw;
    }
    .padding-search {
        max-width: unset;
        padding: .5vw;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        margin-top: -8vw;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 20vw;
        height: 23vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 2.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 1vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        margin-top: -8vw;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 24vw;
        height: 23vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 2.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 1vw;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        margin-top: -8vw;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 24vw;
        height: 23vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 2.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 1vw;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-top: -8vw; */
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 40vw;
        height: 35vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 2.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 5vw;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 40vw;
        height: 35vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 2.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 4vw;
    }
}

@media only screen and (max-width: 350px) {
    .flex-container-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    .flex-container-search>.padding-search {
        background-color: #ffffff;
        width: 40vw;
        height: 35vw;
        margin: 1vw;
        text-align: center;
    }
    .font-search {
        font-size: 3.5vw;
        margin-bottom: unset;
    }
    .img-responsive-search {
        display: block;
        width: 8vw;
        height: auto;
        margin: auto;
    }
    .margin-bot-img {
        margin-bottom: 2vw;
    }
    .padding-search {
        padding: 2vw;
    }
}