.font-style {
    text-align: justify;
    font-size: 1rem;
}


/* .timeline:before {
    left: calc(19% + 6px) !important;
}

.entry .title {
    width: 20% !important;
}

.entry .body {
    width: 80% !important;
} */

.text-title {
    font-size: 1.2rem;
    color: #007ce6;
    font-weight: bold;
    text-align: justify;
}

.fa-map-marker {
    color: #e8506b;
    font-size: 1.5rem
}