.img-tgc {
    width: 100%;
}

.flex-container-tgc {
    display: flex;
    flex-direction: column;
    padding: 2vw
}

.flex-container-tgc>div {
    width: 100%;
    margin: auto;
}

.title-tgc {
    font-weight: bold;
    font-size: 1rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-container-tgc>div>div>p {
    margin-bottom: 0 !important;
}

.through-line {
    -webkit-text-decoration-line: line-through;
    /* Safari */
    text-decoration-line: line-through;
}

.price-hight-light {
    font-weight: bold;
    color: #e82c0c;
}

.margin-top {
    margin-top: 4vw
}

.xem-them-btn {
    width: unset !important;
    color: white !important;
    background-color: #fc7700 !important;
    margin: auto !important;
}

.font-white {
    color: white !important;
}

@media only screen and (min-width: 1000px) {
    .img-tgc {
        height: 20vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        width: 20vw !important;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .img-tgc {
        height: 20vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 20vw !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .img-tgc {
        height: 20vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 20vw !important;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .img-tgc {
        height: 40vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 30vw !important;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .img-tgc {
        height: 40vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 35vw !important;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .img-tgc {
        height: 40vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 45vw !important;
    }
}

@media only screen and (max-width: 350px) {
    .img-tgc {
        height: 40vw;
    }
    .btn-countdown {
        background-color: #fc7700 !important;
        display: inline-block !important;
        width: 55vw !important;
    }
}

@media only screen and (max-width: 768px) {
    .hidden-lg {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .hidden-xs {
        display: none;
    }
}