.context-text {
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
}

.no-margin-left {
    margin-left: unset !important;
}

.no-margin-right {
    margin-right: unset !important;
}

.no-margin-bot {
    margin-bottom: unset !important;
}

.img-hover-zoom-ut img {
    transition: transform .5s ease;
}

.img-hover-zoom-ut:hover img {
    transform: scale(1.5);
}

.img-hover-zoom-ut:hover~.hover-red {
    color: red !important;
    font-weight: bold
}

.box-ua-thich {
    border: 1px solid #30303030;
    position: relative;
}

.flex-ua-thich {
    border-bottom: 1px dashed #30303030;
}

@media only screen and (min-width: 1000px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 18vw;
        margin: 1vw;
        height: 16vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 16vw;
    }
    .img-hover-zoom-ut {
        height: 16vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 40vw;
        margin: 2vw;
        height: 30vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 30vw;
    }
    .img-hover-zoom-ut {
        height: 30vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 40vw;
        margin: 2vw;
        height: 30vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 30vw;
    }
    .img-hover-zoom-ut {
        height: 30vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 40vw;
        margin: 2vw;
        height: 30vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 30vw;
    }
    .img-hover-zoom-ut {
        height: 30vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 100vw;
        margin: 2vw;
        height: 80vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 80vw;
    }
    .img-hover-zoom-ut {
        height: 80vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 100vw;
        margin: 2vw;
        height: 80vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 80vw;
    }
    .img-hover-zoom-ut {
        height: 80vw;
        overflow: hidden;
    }
}

@media only screen and (max-width: 350px) {
    .flex-ua-thich {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-ua-thich>div {
        width: 100vw;
        margin: 2vw;
        height: 80vw;
    }
    .img-ua-thich {
        width: 100%;
        height: 80vw;
    }
    .img-hover-zoom-ut {
        height: 80vw;
        overflow: hidden;
    }
}