@media only screen and (min-width: 768px) {
    .slide-container {
        width: 100%;
        margin: auto;
    }
    h3 {
        text-align: center;
    }
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
    .each-slide span {
        padding: 1vw;
        font-size: 1vw;
        background: #efefef;
        text-align: center;
    }
    .each-fade {
        display: flex;
    }
    .each-fade .image-container {
        width: 75%;
        overflow: hidden;
    }
    .each-fade .image-container img {
        width: 100%;
    }
    .each-fade h2 {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background: #adceed;
    }
    .option .images-wrap {
        height: 8vw !important;
    }
    .option {
        height: 8vw;
    }
    .react-slideshow-container+div.indicators {
        display: none !important;
    }
    .option {
        margin-top: 1vw;
    }
    .bg-color-white {
        background-color: white;
        height: 8vw;
    }
    .flex-container-op {
        display: flex;
        flex-wrap: nowrap;
        height: 8vw !important;
    }
    .flex-container-op>div {
        width: 12vw;
        margin: 2vw;
        text-align: center;
    }
    .img-option {
        width: 3vw;
        height: 3vw;
    }
    .font-option {
        margin-top: .5vw;
        font-size: 1vw;
        font-weight: bold
    }
}

@media only screen and (max-width: 767px) {
    .slide-container {
        width: 100%;
        margin: auto;
    }
    h3 {
        text-align: center;
    }
    .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
    .each-slide span {
        padding: 1vw;
        font-size: 1.5vw;
        background: #efefef;
        text-align: center;
    }
    .each-fade {
        display: flex;
    }
    .each-fade .image-container {
        width: 75%;
        overflow: hidden;
    }
    .each-fade .image-container img {
        width: 100%;
    }
    .each-fade h2 {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background: #adceed;
    }
    .option .images-wrap {
        height: 45vw !important;
    }
    .option {
        height: 45vw;
    }
    .react-slideshow-container+div.indicators {
        display: none !important;
    }
    .option {
        margin-top: 1vw;
    }
    .bg-color-white {
        background-color: white;
        height: 45vw;
    }
    .flex-container-op {
        display: flex;
        flex-wrap: wrap;
        height: 45vw !important;
    }
    .flex-container-op>div {
        width: 25vw;
        margin: 1vw 2vw 1vw 2vw;
        text-align: center;
    }
    .img-option {
        width: 7vw;
        height: 7vw;
    }
    .font-option {
        margin-top: .5vw;
        font-size: 2.5vw;
        font-weight: bold
    }
}