ul.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.nav-item .nav-link:hover{
    color: #fc7700 !important;
}

.dropdown-menu-cus {
    background-color: #343a40!important;
    color: white !important;
    border: none !important;
}

.dropdown-item-cus{
    color: white !important;
}

.dropdown-item-cus:hover {
    color: #fc7700 !important;
    background-color: #505050 !important;
}