@media only screen and (min-width: 1000px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 19vw;
        margin: 1vw;
        height: 25vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 13vw;
    }
    .img-hover-zoom {
        height: 13vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 1vw;
        padding: 0vw 0.5vw 0vw 0.5vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 0vw 0.5vw 0vw 0.5vw;
        font-size: 1vw;
    }
    .price-box {
        padding: 0vw 0.5vw 0vw 0.5vw;
        font-size: 1vw;
    }
    .margin-t {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

@media only screen and (min-width: 830px) and (max-width: 1000px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 40vw;
        margin: 2vw;
        height: 55vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 32vw;
    }
    .img-hover-zoom {
        height: 32vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 2vw;
        padding: 1vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 1vw;
        font-size: 2vw;
    }
    .price-box {
        padding: 1vw;
        font-size: 2vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 40vw;
        margin: 2vw;
        height: 55vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 32vw;
    }
    .img-hover-zoom {
        height: 32vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 2vw;
        padding: 1vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 1vw;
        font-size: 2vw;
    }
    .price-box {
        padding: 1vw;
        font-size: 2vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 40vw;
        margin: 2vw;
        height: 55vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 32vw;
    }
    .img-hover-zoom {
        height: 32vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 2vw;
        padding: 1vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 1vw;
        font-size: 2vw;
    }
    .price-box {
        padding: 1vw;
        font-size: 2vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}

@media only screen and (min-width: 450px) and (max-width: 630px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 100vw;
        margin: 2vw;
        height: 110vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 70vw;
    }
    .img-hover-zoom {
        height: 70vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 3.5vw;
        padding: 2vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 2vw;
        font-size: 3.5vw;
    }
    .price-box {
        padding: 2vw;
        font-size: 3.5vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 100vw;
        margin: 2vw;
        height: 110vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 70vw;
    }
    .img-hover-zoom {
        height: 70vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 3.5vw;
        padding: 2vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 2vw;
        font-size: 3.5vw;
        ;
    }
    .price-box {
        padding: 2vw;
        font-size: 3.5vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}

@media only screen and (max-width: 350px) {
    .flex-uu-dai {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-uu-dai>div {
        width: 100vw;
        margin: 2vw;
        height: 110vw;
    }
    .img-uu-dai {
        width: 100%;
        height: 65vw;
    }
    .img-hover-zoom {
        height: 65vw;
        overflow: hidden;
    }
    .img-hover-zoom img {
        transition: transform .5s ease;
    }
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .content-box {
        font-size: 3.5vw;
        padding: 2vw;
        border-bottom: 1px dashed #30303030;
    }
    .box-uu-dai {
        border: 1px solid #30303030;
    }
    .title-uu-dai {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .float-l {
        float: left;
        margin-bottom: 0px;
    }
    .float-r {
        float: right;
        margin-bottom: 0px;
    }
    .content-uu-dai {
        padding: 2vw;
        font-size: 3.5vw;
    }
    .price-box {
        padding: 2vw;
        font-size: 3.5vw;
    }
    .margin-t {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
}