.padding-link-d {
    padding: 15px !important;
    font-size: 1rem !important;
}

.n3-breadcrumb {
    margin-bottom: 10px;
}

.n3-breadcrumb .breadcrumb {
    padding: 10px 15px;
    line-height: 22px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}