.y-kien>div>.indicators {
    display: flex !important;
}

.y-kien {
    margin-bottom: 4vw;
}

.flex-container-ykien {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container-ykien>div {
    width: 80vw;
    padding: 2vw;
}

.each-slide-ykien>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .bg-ykien {
        background-color: white;
    }
    .each-slide-ykien span {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 767px) {
    .bg-ykien {
        background-color: white;
    }
    .each-slide-ykien span {
        font-size: 0.8rem;
    }
}