.wrapper-tk {
    background: #f1f1f1;
}

.title-search {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
    font-size: 1.3rem;
    color: #fc3400;
}

.margin-top-search {
    margin-top: 1rem;
}

.my-custom-datepicker-component>div>input {
    padding: 8px !important;
    color: hsl(0, 0%, 50%) !important;
}

.btn-tk {
    background-color: #fc3400 !important;
    border-radius: unset !important;
    color: white !important;
    font-weight: bolder !important;
}

.margin-range-slide {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.border-bot {
    border-bottom: 1px dashed #ccc;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input[type="checkbox"]+span {
    /* font: 16pt sans-serif; */
    color: #000;
}

input[type="checkbox"]+span:before {
    font: 16pt FontAwesome;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
}

input[type="checkbox"]:checked+span:before {
    content: '\00f046';
}

input[type="checkbox"]:focus+span:before {
    outline: 1px dotted #aaa;
}

input[type="checkbox"]:disabled+span {
    color: #999;
}

input[type="checkbox"]:not(:disabled)+span:hover:before {
    text-shadow: 0 1px 2px #77F;
}